# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Qt Creator / CMake build artifacts
build/
build_check/
*.user
.qtcreator/
CMakeLists.txt.user*
drivers/gas_sensor/*.o
drivers/gas_sensor/*.ko
drivers/gas_sensor/*.mod
drivers/gas_sensor/*.mod.c
drivers/gas_sensor/*.mod.o
drivers/gas_sensor/*.symvers
drivers/gas_sensor/*.order
drivers/gas_sensor/.*.cmd
drivers/gas_sensor/.tmp_versions/
drivers/gas_sensor/*.dtbo
drivers/gas_sensor/Module.symvers
